#Root {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}

#NaviBar {
    flex-direction: row;
    background-color: rgb(255, 247, 215);
    padding: 1%;
}

#MainButtons {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

Button {
    background-color: rgba(188, 188, 188, 0);
    border-width: 0;
    font-size: 27px;
    -unity-font-definition: url("project://database/Assets/Fonts/FOT-RodinBokutoh%20Pro%20EB.otf?fileID=12800000&guid=c70dee4bea39a0b42a0c8f0c7e23973e&type=3#FOT-RodinBokutoh Pro EB");
    -unity-font-style: normal;
}

.navi-buttons {
    background-color: rgba(188, 188, 188, 0);
    font-size: 27px;
    color: rgb(61, 133, 198);
    -unity-font-style: bold;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 5px;
    border-right-width: 0;
    border-color: rgb(0, 0, 0);
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#NBSeasButton {
    border-right-width: 5px;
}

#ContentPage {
    height: 100%;
}

#DateTimeScreen {
    margin: auto;
    width: 100%;
    height: 1080px;
    align-items: center;
    justify-content: center;
    align-self: center;
}

Label {
    font-size: 65px;
    align-self: center;
    -unity-text-align: middle-center;
    -unity-font-definition: url("project://database/Assets/Fonts/FOT-Seurat%20Pro%20B/FOT-Seurat%20Pro%20B%20SDF.asset?fileID=11400000&guid=264ea6ed0297cd441b2f52b79f6a7576&type=2#FOT-Seurat Pro B SDF");
}

Textfield {
    background-color: rgba(255, 255, 255, 0);
}

#TimeLabel {
    font-size: 116px;
}

#ResetButton {
    padding: 2%;
    align-self: center;
    width: 519px;
    margin: 20px;
    background-image: url("project://database/Assets/Sprites/UI/Buttons/Button_Reset%20Date%20and%20Time.png?fileID=2800000&amp;guid=94b5b17aec454874786a39ee021903e9&amp;type=3#Button_Reset Date and Time"); 
    width: 575px;
}

#ContentPage .unity-scroll-view__content-container {
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: auto;
    width: 100%;
    height: 100%;
}

.content-group {
}

#CatchableLists {
    flex-direction: row;
}

.catchable-list {
}

.unity-base-text-field__input {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
}

#CatchableScreen {
}

.text-right-container {
    flex-direction: row;
}

#AMPMLabel {
    justify-content: flex-end;
    align-self: flex-end;
}

.text-right-container {
    flex-direction: row;
}
