#TransparentBG {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
}

#PopUpBG {
    position: absolute;
    height: 75%;
    width: 60%;
    background-image: url("project://database/Assets/Sprites/UI/PopUpBG.png?fileID=2800000&guid=007c5b45498e2e04ab4d9e8dbeabef68&type=3#PopUpBG");

    top: 11.5%;
    bottom: 11.5%;
    left: 20%;
    right: 20%;
}

#IconSprite {
    position: absolute;
    height: 50%;
    width: 35%;

    left: 10%;
    top: 25%;
}


#IconName {
    -unity-text-align: middle-center;
    -unity-font-definition: url("project://database/Assets/Fonts/FOT-Seurat%20Pro%20B/FOT-Seurat%20Pro%20B.otf?fileID=12800000&guid=8491b401751bd5f45abf09288c66e4a2&type=3#FOT-Seurat Pro B");
    font-size: 60px;
    color: rgb(114, 93, 66);

    top: 10%;
    flex-wrap: wrap;
    white-space: normal;
}

#DetailsContainer {
    position: relative;
    height: 65%;
    top: 12.5%;
}

#Details {
    width: 50%;
    left: 46%;
    top: 5%;

    -unity-text-align: middle-left;
    -unity-font-definition: url("project://database/Assets/Fonts/FOT-Seurat%20Pro%20B/FOT-Seurat%20Pro%20B.otf?fileID=12800000&guid=8491b401751bd5f45abf09288c66e4a2&type=3#FOT-Seurat Pro B");
    font-size: 40px;
    color: rgb(114, 93, 66);

    flex-wrap: wrap;
    white-space: normal;
    -unity-paragraph-spacing: -60px;
}
